<style>	
            * {
  box-sizing: border-box;
}
* {margin: 0; padding: 0;}
.bg-img {
  background-image: url("picture_of_blackjack.jpeg");
  min-height: 1000px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.container {
  position: absolute;
  right: 0;
  margin: 20px;
  max-width: 300px;
  padding: 16px;
  height: 100%;
  background-color: white;
}
input[type=text], input[type=number] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}
input[type=text]:focus, input[type=number]:focus {
  background-color: #ddd;
  outline: none;
}
.btn .sub {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.btn:hover .sub:hover {
  opacity: 1;
}
			
		</style>